* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f3e5d8;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Young Serif", serif;
  }
  
  p {
    font-family: "Outfit", sans-serif;
    color: #575351;
  }
  
  #recipe-card {
    background-color: #fff;
    margin: 4rem auto;
    width: 735px;
    border-radius: 20px;
  
  }
  
  .recipe-card-content {
    padding: 2.5rem;
  }
  
  .omlette-img {
    width: 655px;
    border-radius: 7px;
  
  }
  
  .main-header {
    color: #2a2827;
    margin: 1rem 0rem;
  }
  
  .preperation-time-container {
    margin: 2rem 0rem;
    background-color: #fff7fc;
    border-radius: 7px;
    padding: 1.5rem 0rem 1.5rem 3rem;
  
  }
  
  .prep-time-heading {
    font-family: "Outfit", sans-serif;
    color: #6f103D;
  }
  
  li {
    font-family: "Outfit", sans-serif;
    padding-left: 1rem;
    margin: 1rem 0rem;
    color: #575351;
  }
  
  li::marker {
    color: #6f103D;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .gold-text {
    color: #7e5039;
  }
  
  .gold-list li::marker {
    color: #7e5039;
    font-weight: bold;
  }
  
  .divider {
    background: #e2e2e2;
    height: 1px;
    margin: 2rem 0rem;
  }
  
  .nutrition-p {
    margin: 1rem 0rem;
  }
  
  .nutrition-table {
    margin-top: 2rem;
  }
  
  .nutrition-card {
    display: flex;
  }
  
  .macro-p {
    width: 350px;
    padding-left: 2rem;
  }
  
  .mobile-omlette-img {
    display: none;
  }
  
  /* 
  
  
  
  
  Media Queries
  
  
  
  
  
  */
  
  @media screen and (max-width: 700px) {
  
    #recipe-card {
      margin: 0rem auto;
      width: 100%;
      border-radius: 0px;
    }
  
    .omlette-img {
      display: none;
    }
  
    .mobile-omlette-img {
      display: block;
      width: 100%;
    }
  
    .preperation-time-container {
      padding: 1.5rem 2rem 1.5rem 3rem;
  
    }
  
  }